header.header
  .header-left
    .brand
      span.brand-name Quản lí Hộ Khẩu
  .header-right
    .header-actions
      .user
        img.user-avatar(src="/images/avatar.jpg" alt="user")
        span.user-name Hoangnt
      