extends ../../layout/default.pug

block main
  .container
    h1 Thêm lượt đóng phí mới
    form(method='POST' action='/payment/add')

      .form-group
        label(for='codeFee') Mã khoản phí:
        input#codeFee.form-control(type='text' name='codeFee' required)
      .form-group
        label Tên khoản phí:
        input#nameFee.form-control(type='text' readonly)
      .form-group
        label Số tiền cần phải đóng:
        input#valueFee.form-control(type='number' readonly)
      .form-group
        label Loại khoản phí
        input#typeFee.form-control(type='text' readonly)
      .form-group 
        label(for='cccdPayer') CCCD người đóng phí:
        input#cccdPayer.form-control(type='text' name='cccdPayer' required)
      .form-group
        label Tên người đóng phí:
        input#namePayer.form-control(type='text' readonly)
      .form-group
        label Hộ gia đình đóng phí:
        input#familyPayer.form-control(type='text' readonly)
      .form-group
        label(for='paidValue') Số tiền đóng:
        input#paidvalue.form-control(type='number' name='paidValue' required)
      .form-group
        label(for='paidDate') Ngày đóng phí:
        input#paidDate.form-control(type='date' name='paidDate' required)
      button.btn.btn-primary(type='submit') Thêm lượt đóng phí